<!DOCTYPE html>
<html lang="en" charset="utf-8">
    <title>{{ .Site.Title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    {{ $style := resources.Get "css/main.css" | resources.Minify }}
    <link rel="stylesheet", type="text/css" href="{{ $style.Permalink }}">
</html>
<body>
    <header>
        <a href="/"><h1>{{ .Site.Title }}</h1></a>
    </header>
    <main>
        {{ block "main" . }}
        {{ end }}
    </main>
    <footer>
        <p>{{ .Site.Copyright }}</p>
    </footer>
</body>
</html>
